:root {
    --side-bar--text-color: #F1F7D4;

}

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
}

body {
    font-size: 1rem;
    font-family: 'Google Sans Plex', Roboto,sans-serif;
}

.site-logo {
    height: 50px;
    width: 50px;
}

main {
    display: flex;
    height: 100vh;
    width: 100%;
}


.right-website {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: scroll;
}

#navbar {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-bottom: 2px solid rgba(149, 157, 165, 0.6);
    height: 200px;
}

.top-nav {
    display: flex;
    padding: 1.5rem;
    align-items: center;
}

.nav--search--input {
    width: 60%;
    padding: 10px;
    font-family: inherit;
    font-size: 1.125rem;
    border-radius: 999rem;
    border: 1px solid black;
    overflow: hidden;
}

.nav--search--button {
    border: none;
    background-color: #f1f1f1;
    padding: 1em;
    border-radius: 50%;
}
.nav--search--button:active {
    background-color: #e1e1e1;
}

.nav--search--button:hover {
    cursor: pointer;
}

.nav--search--icon, 
.nav--notification--icon
{
    width: 20px;
    height: 20px;
    line-height: 1em;
}
.nav-left-side {
    display: flex;
    width: 75%;
    gap: 5px;
}

.nav-right-side {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

#nav-user-name {
    font-weight: 900;
    font-size: 1.125rem;
}

.nav--user--icon {
    width: 50px;
    height: 50px;
    border: 1px solid #36454F;
    border-radius: 50%;
    padding: 8px;
}

.low-nav {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

.low-nav p {
    align-self: center;
    font-weight: 300;
    font-size: 1.2rem;
}

#user-name {
    font-weight: 900;
    font-size: 1.6rem;
}
.low-nav > .nav-left-side {
    padding-left: 30px;
}


.main--user--icon {
    width: 70px;
    height: 70px;
    border: 1px solid #36454F;
    border-radius: 50%;
    padding: 10px;
}

.nav--button {
    padding: 10px;
    border-radius: 999rem;
    width: 100px;
    background-color: hsl(240, 84%, 50%);
    border: 1px solid hsl(240, 78%, 60%);
    color: #f1f1f1; 
    font-weight: 700;
    cursor: pointer;
}

.nav--button:last-child {
    margin-right: 20px;
}

.nav--button:active {
    background-color: hsla(240, 78%, 60%, 1);
}

#left-website {
    display: flex;
    flex-direction: column; 
    background-color: navy;
    flex: 0 0 auto;
    width: 200px;
    height: 100vh;
}

.site-brand {
    display: flex;
    align-items: flex-end;
    color: var(--side-bar--text-color);
    margin-top: 10px;
    margin-left: 5px;
    font-weight: 900;
    font-size: 1.5rem;
    justify-content: space-evenly;
}

#sidebar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.side-bar--content,
.side-bar--extras {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 10px;
    padding: 10px;
}

.side-bar--item {
    padding: 2px;
    background-color: navy;
    transition: background-color 5ms ease-in-out;
}
.side-bar--item:hover {
    cursor: pointer;
    background-color: hsla(240, 100%, 30%, 1);
}

.side-bar--icon {
    width: 25px;
    height: 25px;
}

.side-bar--link {
    text-decoration: none;
    color:var(--side-bar--text-color);
    font-weight: 700;
}

#mainboard {
    flex: 1 1 auto;
    margin-left: 1.125rem;
    margin-right: 1.125rem;
    margin-bottom: 1.125rem;
    display: flex;
}

#main-section-header {
    font-size: 1.125rem;
    font-weight: 700;
    margin-top: 1.2rem;
}

#projects-grid {
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-auto-flow: row;
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 25px;
}

#section-1 {
    flex: 1 1 auto;
}

.card {
    width: 100%;
    height: 100%;
    border-left: 10px solid navy;
    border-radius: 8px 5px 5px 8px;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 2px 4px 8px rgba(0,0,0, 0.3);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.05rem;
    font-weight: 600;
}

.card-body{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 1em;
}

.card-buttons {
    align-self: flex-end;
    display: flex;
}

.card-btn {
    margin: 0.75rem;
    border: none;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}
.card-btn:hover {
    cursor: pointer;
    background-color: hsla(250, 90%, 90%, 1);
}


.card-btn--icon {
    height: 30px;
    width: 30px;
}

#section-2 {
    margin-left: 10px;
}

.announcements{
    margin-top: 1.2rem;
}
.announcements-table {
    display: grid;
    grid-template-columns: clamp(100px, 300px, 350px);
    grid-template-rows: repeat(3, minmax(150px, 1fr));
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 1px solid grey ;
    border-radius: 10px;
} 

.announcement-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.announcement-title {
    font-size: 1rem;
    padding: 10px;
}
.announcement-item:nth-child(2) {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}


.announcement-body {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 3px;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 1s ease-in;
}

.announcement-item:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.trending-header { 
    font-size: 1rem;
    font-weight: 700;
}

.trending-grid {
    display: grid;
    grid-template-columns: clamp(100px, 300px, 350px);
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    gap: 8px
}

.trending-item {
    display: flex;
    gap: 20px;
}

.trending-user-pfp {
    width: 50px;
    background-color: white;
    border-radius: 50%;
    height: 50px;
    padding: 3px;
}

.trending-body {
    font-weight: 700;
}

.trending-project {
    font-weight: 300;
    color: grey;
}

.trending-item:hover {
    transform: scale(1.01);
    cursor: pointer;
    background-color: hsla(0, 0, 0%, 1);
}
